asyncio==3.4.3
basemap==1.4.1
basemap-data==1.3.2
basemap-data-hires==1.3.2
blinker==1.9.0
branca==0.8.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
dnspython==2.7.0
Flask==3.1.0
flexpolyline==0.1.0
folium==0.18.0
fonttools==4.55.0
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
googlemaps==4.10.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.8.4
networkx==3.4.2
numpy==1.26.4
openrouteservice==2.3.3
osmnx==2.0.0
packaging==23.2
pandas==2.2.3
pillow==11.0.0
polyline==2.0.2
pymongo==4.10.1
pyogrio==0.10.0
pyparsing==3.2.0
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
shapely==2.0.6
six==1.16.0
threadpoolctl==3.5.0
tqdm==4.67.1
tzdata==2024.2
urllib3==2.2.3
uuid==1.30
Werkzeug==3.1.3
xyzservices==2024.9.0